<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.thepreraktrivedi.android.mvvm.network">

    <uses-permission android:name="android.permission.INTERNET" tools:node="merge" />

    <application android:usesCleartextTraffic="true" tools:node="merge" />
</manifest>